@import '../../../shared/variables.scss';

$cellSize: 10vw;

.statsTable {
	letter-spacing: $letterSpace;
	display: grid;
	grid-template-columns: repeat(auto-fill, $cellSize);
	grid-gap: 0.5vw;
	justify-items: center;
	text-transform: capitalize;
	.cell {
		height: $cellSize;
		width: 100%;
		.value{
			font-size: 2vw;
			margin-bottom: 0.6vw;
		}
		.name {
			color: $gray;
			text-transform: uppercase;	
		}
	}
}