.champions {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	.content {
		width: 100%;
		max-width: 1000px;
	}
	&:before {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		// background: url('./bg4.jpg');
		// background: url('./bg2.jpg');
		background: url('./bg7.jpg');
		// background: url('./bg11.jpg');
		background-size:cover;
		background-repeat: no-repeat;
		z-index: -1;
		filter: grayscale(60%) blur(5px);
		transform: scale(1.03);
	}
}