@import '../../shared/variables.scss';

.championProfile {
	
	background-color: $blackDark;
	color: $white;
	min-height: 100vh;
	padding-bottom: 1vh;
	.content {
		padding: 0 1vw;
	}
	.content, .metrics {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 2vw;
	}
	.metrics {
		.title {
			font-size: 1.5vw;
			padding: 1vw 0;
		}
		.subtitle {
			font-size: 1.2vw;
			padding: 0.5vw 0;
		}
		&>* {
			// border: solid red 1px;
		}
	}
}

