@import '../variables.scss';

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 1.2vw;
	letter-spacing: $letterSpace;
	
	border: solid 0px $blue;
	border-bottom-width: 0.1em;
	width: 100%; 
	padding: 1vw;
	margin: 1vw 0;
	box-sizing: border-box;
	transition: all 0.2s;
	&:active, &:focus {
		outline: none;
		border-bottom-color: darken($blue, 20%);
	}
	&::placeholder {
		text-transform: uppercase;
	}
}