@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import './shared/variables.scss';

body{
	font-family: 'Open Sans', sans-serif;
	// background-color: $black;
		
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}