@import url('https://fonts.googleapis.com/css?family=Muli:400,600');
@import './shared/variables.scss';

body{
	font-family: 'Muli', sans-serif;		
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}