$blackDark: #191c21;
$black: #1a1b1c;
$blackLight: #222321;
$white: #f2e7d3;
// $gold: #785a28;
$gold: #937245;
$goldLight: #937245;
$goldDullLight: #cdbe91;
$goldDull: #5f4924;
// $blue: #078497;
// $blue: #07798e;
$blue: #0addea;